<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24559_1558709173771.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>蝴蝶王子</string>
		<key>play_count</key>
		<string>4154301</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24559_480_20190524154831_tchl.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24560_1558709189080.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>咖啡好苦啊！</string>
		<key>play_count</key>
		<string>2675705</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24560_480_20190524155350_xgqn.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24561_1558709268302.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>奔跑吧弹涂鱼！</string>
		<key>play_count</key>
		<string>2434331</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24561_480_20190524155906_lo7c.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24562_1558709293945.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>胆小的小羊</string>
		<key>play_count</key>
		<string>2307162</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24562_480_20190524160504_iuwi.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24563_1571815110563.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>调皮的小树蛙</string>
		<key>play_count</key>
		<string>1751284</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24563_480_20190524161023_lcj7.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24564_1571815126539.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>给妈妈的礼物</string>
		<key>play_count</key>
		<string>1794886</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24564_480_20190524161551_dhvn.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24565_1571815262730.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>大力士独角仙</string>
		<key>play_count</key>
		<string>1164145</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24565_480_20190524162355_va6b.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24566_1571815275601.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>鹡鸰奶奶来了</string>
		<key>play_count</key>
		<string>1020360</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24566_480_20190524163232_rqbn.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24567_1571815285596.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>安全驾驶很重要</string>
		<key>play_count</key>
		<string>889515</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24567_480_20190524164121_gj2x.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24568_1571815307908.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>小松鼠罗米</string>
		<key>play_count</key>
		<string>764480</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24568_480_20190524164755_cljn.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>424.824</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24569_1571815334302.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>神奇的水下冒险！</string>
		<key>play_count</key>
		<string>642333</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24569_480_20190524165402_9qps.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24570_1571815347835.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>寻找鸳鸯奶奶</string>
		<key>play_count</key>
		<string>640465</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24570_480_20190524165924_wj1l.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24571_1571815359350.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>照顾熊宝宝</string>
		<key>play_count</key>
		<string>562351</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24571_480_20190524170516_wwng.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24572_1571815371016.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>负子蝽叔叔</string>
		<key>play_count</key>
		<string>495676</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24572_480_20190524171208_bsh7.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24573_1571815387722.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>带小孩可真累啊</string>
		<key>play_count</key>
		<string>485044</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24573_480_20190524171842_t4vf.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24575_1571815399154.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>萌鸡的士出发</string>
		<key>play_count</key>
		<string>364750</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24575_480_20190524172428_jeph.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24577_1571815410563.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>热闹的生日派对</string>
		<key>play_count</key>
		<string>426887</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24577_480_20190524173126_lpvm.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24579_1558709873097.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>小伙伴，加油！</string>
		<key>play_count</key>
		<string>371545</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24579_480_20190524173757_08xx.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24580_1571815473259.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>小小慢和虎甲</string>
		<key>play_count</key>
		<string>378284</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24580_480_20190524174337_7t9p.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24581_1571815498626.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>喇叭花传话筒</string>
		<key>play_count</key>
		<string>311406</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24581_480_20190524174905_yqiz.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24582_1571815566440.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>厉害的钳子</string>
		<key>play_count</key>
		<string>286756</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24582_480_20190524175452_psrg.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24583_1571815582576.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>知了知了大合唱</string>
		<key>play_count</key>
		<string>252374</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24583_480_20190524180028_noyb.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24584_1571815830297.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>学大雁飞</string>
		<key>play_count</key>
		<string>269629</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24584_480_20190524180623_qdmh.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24585_1571815846449.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>跟着水黾去郊游！</string>
		<key>play_count</key>
		<string>331382</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24585_480_20190524181210_jtle.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24586_1571815859282.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>大家一起去郊游！</string>
		<key>play_count</key>
		<string>365086</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24586_480_20190524181753_s4tn.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24587_1558710064658.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>去猪阿姨家做客</string>
		<key>play_count</key>
		<string>379989</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24587_480_20190524182321_l54d.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24588_1571815877649.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>开船去大海</string>
		<key>play_count</key>
		<string>208559</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24588_480_20190524182907_zgos.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24589_1571815891005.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>森林里的小金鱼</string>
		<key>play_count</key>
		<string>299114</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24589_480_20190524183617_w1m0.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24590_1571815901308.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>泥浆小怪物！</string>
		<key>play_count</key>
		<string>257870</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24590_480_20190524184248_r7eq.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24591_1558710151400.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>全部都是小猫的</string>
		<key>play_count</key>
		<string>233460</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24591_480_20190524185013_vftc.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24592_1558710171665.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>麦奇与小德的冒险（上）</string>
		<key>play_count</key>
		<string>305755</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24592_480_20190524185641_f1a9.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24593_1558710194361.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>麦奇与小德的冒险（下）</string>
		<key>play_count</key>
		<string>390002</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24593_480_20190524190339_ytpc.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24594_1571815934667.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>学骑自行车</string>
		<key>play_count</key>
		<string>205983</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24594_480_20190524190901_xxls.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24595_1571815967860.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>要好好吃饭哦</string>
		<key>play_count</key>
		<string>163064</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24595_480_20190524191429_zz3n.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24596_1571816040111.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>小鹰会飞啦！</string>
		<key>play_count</key>
		<string>174375</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24596_480_20190524191947_haej.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24597_1571816052294.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>森林里的蜘蛛网</string>
		<key>play_count</key>
		<string>214241</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24597_480_20190524192509_gvib.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24598_1571816068512.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>会动的石榴</string>
		<key>play_count</key>
		<string>197600</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24598_480_20190524193031_lq2s.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24599_1571816206360.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>森林里的清洁员！</string>
		<key>play_count</key>
		<string>168758</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24599_480_20190524193556_x15i.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24600_1571816226353.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>小獐子的笑声</string>
		<key>play_count</key>
		<string>191619</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24600_480_20190524194121_gq2p.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24601_1571816243186.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>爱磨牙的小老虎</string>
		<key>play_count</key>
		<string>212763</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24601_480_20190524194652_u0lt.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24602_1571816254668.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>小鹿的角</string>
		<key>play_count</key>
		<string>147553</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24602_480_20190524195338_iglz.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24603_1571816266555.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>扶起稻草人叔叔</string>
		<key>play_count</key>
		<string>114503</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24603_480_20190524195854_hscb.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24604_1571816283158.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>爱美的孔雀叔叔</string>
		<key>play_count</key>
		<string>136619</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24604_480_20190524200427_p5le.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24605_1571816302529.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>消失的柿子</string>
		<key>play_count</key>
		<string>100937</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24605_480_20190524200952_nlyo.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24606_1571816313859.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>追踪小鲑鱼</string>
		<key>play_count</key>
		<string>117440</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24606_480_20190524201519_n65o.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24607_1571816325631.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>和小蜻蜓做朋友</string>
		<key>play_count</key>
		<string>102160</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24607_480_20190524202052_xhyq.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24608_1571816339668.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>小松鼠当爸爸</string>
		<key>play_count</key>
		<string>139719</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24608_480_20190524202638_hsfm.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24609_1571816355080.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>南极来的小企鹅</string>
		<key>play_count</key>
		<string>167897</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24609_480_20190524203242_1leo.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24610_1571816380176.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>害羞的小牛宝宝</string>
		<key>play_count</key>
		<string>206448</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24610_480_20190524203901_urzv.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24611_1571816392884.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>打瞌睡的小睡鼠</string>
		<key>play_count</key>
		<string>213894</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24611_480_20190524204508_w7gr.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24612_1571816409358.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>保护橘子！</string>
		<key>play_count</key>
		<string>247776</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24612_480_20190524205031_bxxp.mp4</string>
	</dict>
	<dict>
		<key>duration</key>
		<string>425.256</string>
		<key>image</key>
		<string>http://img5g22.ergedd.com/video/24613_1558710911075.jpg</string>
		<key>isSelected</key>
		<false/>
		<key>name</key>
		<string>神奇的山泉水</string>
		<key>play_count</key>
		<string>287041</string>
		<key>resource</key>
		<string>http://video5lmv.ergedd.com/videos/24613_480_20190524205547_2d5x.mp4</string>
	</dict>
</array>
</plist>
